<header>
    <h1>skapa blogg - Webbshop</h1>
    <nav>
      <ul>
        <li>
          <a [routerLink]="['']">startsida</a>
        </li>
        <li>
          <a [routerLink]="['blog']">blogg</a>
        </li>
        <li>
          <a [routerLink]="['product']">product</a>
        </li>
        <li *ngIf="isLoggedIn(); else loginButton">
          <a (click)="logout()">Logout</a>
        </li>
        <ng-template #loginButton>
          <li>
            <a [routerLink]="['/login']">Login</a>
          </li>
        </ng-template>
        <li *ngIf="userRole === 'user'">
          <a [routerLink]="['userpanel']">User Panel</a>
        </li>
       <li *ngIf="userRole === 'admin'">
          <a [routerLink]="['adminpanel']">Admin Panel</a>
        </li>
      </ul>
    </nav>
  </header>