<div id="blog">
    <div class="wrapper">
        <main>
            <div>
            <article *ngFor="let blog of blogs" (click)="onBlogClicked(blog.id)">
                <figure>
                    <img [src]="blog.Img" alt="{blog.title}"/>
                    <figcaption>
                        {{blog.username}}
                    </figcaption>
                </figure>
                <small>{{ blog.time }}</small>
                <h2>{{ blog.title }}</h2>
            </article>
            </div>
                <a [routerLink]="['createblog']">createblog</a>
        </main>
    </div>
</div>
