<div id="blog">
    <div class="wrapper">
        <main>
            <div>
            <article *ngFor="let blog of blogs" (click)="onBlogClicked(blog)">
                <figure>
                    <img src="" alt="">
                    <figcaption>
                        {{blog.username}}
                    </figcaption>
                </figure>
                <p>{{blog.dateTimePosted}}</p>
            </article>
            </div>
                <a [routerLink]="['createblog']">createblog</a>
        </main>
    </div>
</div>
