<div id="create">
  <div class="wrapper">
    <main>
      <h2>Skapa konto</h2>
      <form [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">
        <label for="username">Användarnamn</label>
        <input type="text" formControlName="username">
        <label for="mail">Mail</label>
        <input type="email" formControlName="mail">
        <label for="password">Lösenord</label>
        <input type="password" formControlName="password">
        <label for="address">address</label>
        <input type="text" formControlName="address">
        <button type="submit">Skapa konto</button>
        <span id="error"></span>
      </form>
    </main>
  </div>
</div>
