$primary-color: #F48700;
$secondary-color: #A37319;
$tertiary-color: #E5CF8C;
$black: #000;
$white: #FFF;

$color-primary: $primary-color;
$color-secondary: $secondary-color;
$color-tertiary: $tertiary-color;
$color-black: $black;
$color-white: $white;

