@import 'colors';

@font-face {
  font-family: AustieBost;
  src: url(./AustieBostKittenKlub.ttf);
}

@font-face {
  font-family: Animal-Paw;
  src: url(./Animal-Paw.ttf);
}

header {
    text-align: center;
    grid-area: head;
    background-color: $color-primary;
    height: 100%;
    color: white;
    h1 {
      display: none;
    }
    nav {
      height: 100%;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          a {
            font-size: 30px;
            text-align: center;
            text-decoration: none;
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }
  body{
    font-family: AustieBost;
  }


  #blogg {
    .wrapper {
      main {
        div {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: flex-start;
          padding: 20px;
          article {
            background-color: #A37319;
            border: 1px solid #ccc;
            border-radius: 8px;
            margin: 20px 0;
            padding: 20px;
            h2 {
              color: #F48700;
              margin-bottom: 10px;
              text-align: center;
            }
            figure {
              margin: 0;
              img {
                width: 100%;
                max-height: 200px;
                height: auto;
              }
              figcaption {
                color: #333;
                font-style: italic;
                text-align: right;
              }
            }
            p {
              color: #ccc;
              margin-bottom: 15px;
              text-align: right;
            }
          }
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 150px;
          height: 25px;
          border-radius: 25px;
          background-color: #F48700;
          color: white;
          border: none;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: darken(#F48700, 10%);
          }
        }
      }
    }
  }


  @media only screen and (min-width: 1080px) {
    body {
      color: #333;
      margin: 0;
      padding: 0;
      .wrapper {
        width: 100%;
        margin: 0 auto;
        header {
          text-align: right;
          background-color: #F48700;
          height: 80px;
          color: white;
          padding: 20px;
          nav {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            justify-content: center;
            align-items: center;
            height: 100px; 
            ul {
              list-style: none;
              padding: 0;
              margin: 0;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              height: 100%;
              li {
                margin-right: 70px;
                a {
                  text-decoration: none;
                  color: white;
                  font-weight: bold;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
        main{
          font-family: aloha;
        }
      }
    }
  }