@import 'colors';

@font-face {
    font-family: Animal-Paw;
    src: url(./Animal-Paw.ttf);
  }

@font-face {
    font-family: AustieBost;
    src: url(./AustieBostKittenKlub.ttf);
  }

body {
  font-family: AustieBost;
  background-color: $color-tertiary;
  margin: 0;
  padding: 0;

  .wrapper {
    width: 100%;
    margin: 0 auto;

  header {
    text-align: center;
    background-color: $color-primary;
    height: 100%;
    color: $color-white;
    h1{
        display: none;
    }
    nav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          a {
            font-size: 30px;
            text-decoration: none;
            color: $color-white;
            font-weight: bold;
          }
        }
      }
    }
  }

    button,
    a,
    p{
        font-family: AustieBost;
    }
    }
}

#blogpost {
  .wrapper {
    main {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      div:nth-child(1) {
        width: 75%;
        display: flex;
        flex-direction: column;
        border: black solid 1px;
        article{
          figure {
            margin: 0;

            img {
              max-width: 100%;
              height: auto;
            }
            figcaption {
              color: $color-primary;
              margin-bottom: 10px;
              text-align: right;
            }
          }
          p:nth-child(2){
            text-align: center;
          }
          p:nth-child(3){
            text-align: right;
          }
      }
    }
      div:nth-child(2){
        position: relative;
        width: 35%;
        border: black solid 1px;
        text-align: center;
      }
      form{
        bottom: 0;
        position: absolute;
        margin-top: 20px;
        margin-left: 20px;
      }
  }
}
}

#blog {
  .wrapper {
    main {
      div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        padding: 20px;

        article {
          background-color: $color-primary;
          border: 2px solid $color-secondary;
          border-radius: 8px;
          margin: 20px 0;
          padding: 20px;

          h2 {
            color: $color-white;
            margin-bottom: 10px;
            text-align: center;
          }

          figure {
            margin: 0;

            img {
              width: 100%;
              max-height: 200px;
              height: auto;
            }

            figcaption {
              color: $color-black;
              font-style: italic;
              text-align: right;
            }
          }

          p {
            color: $color-white;
            margin-bottom: 15px;
            text-align: right;
          }
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 25px;
        border-radius: 25px;
        background-color: $color-primary;
        color: $color-white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken($color-primary, 10%);
        }
      }
    }
  }
}

#create {
  .wrapper {
    h1 {
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 50px auto;
      padding: 20px;
      background-color: $color-tertiary;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      label {
        margin-top: 10px;
        font-weight: bold;
        font-family: Animal-Paw;
      }

      input,
      select {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid $color-white;
        border-radius: 4px;
        font-family: AustieBost;
      }

      .file {
        margin-top: 10px;
      }

      button {
        width: 100%;
        padding: 15px;
        margin-top: 20px;
        background-color: $color-primary;
        color: $color-white;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: darken($color-primary, 10%);
        }
      }
    }
  }
}

#controller {
  .wrapper {
    main {
      a {
        display: flex;
        justify-content: center;
        padding: 15px 30px;
        margin: 15px;
        border-radius: 8px;
        background-color: $color-primary;
        color: $color-white;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: darken($color-secondary, 10%);
        }
      }
    }
  }
}

@media only screen and (min-width: 1080px) {
  header {
    text-align: right;
    background-color: $color-primary;
    height: 80px;
    color: white;
    padding: 20px;

    nav {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      justify-content: center;
      align-items: center;
      height: 100px;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        li {
          margin-right: 70px;

          a {
            text-decoration: none;
            color: white;
            font-weight: bold;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
