@font-face {
  font-family: AustieBost;
  src: url(./AustieBostKittenKlub.ttf);
}
@font-face {
  font-family: Animal-Paw;
  src: url(./Animal-Paw.ttf);
}
body {
  font-family: AustieBost;
  background-color: #E5CF8C;
  margin: 0;
  padding: 0;
}
body .wrapper {
  width: 100%;
  margin: 0 auto;
}
body .wrapper header {
  text-align: center;
  grid-area: head;
  background-color: #F48700;
  height: 100%;
  color: #FFF;
}
body .wrapper header h1 {
  display: none;
}
body .wrapper header nav {
  height: 100%;
}
body .wrapper header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body .wrapper header nav ul li a {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
}
body .wrapper button {
  font-family: AustieBost;
}
body .wrapper a {
  font-family: AustieBost;
}

#blog .wrapper main div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}
#blog .wrapper main div article {
  background-color: #F48700;
  border: 2px solid #A37319;
  border-radius: 8px;
  margin: 20px 0;
  padding: 20px;
}
#blog .wrapper main div article h2 {
  color: #FFF;
  margin-bottom: 10px;
  text-align: center;
}
#blog .wrapper main div article figure {
  margin: 0;
}
#blog .wrapper main div article figure img {
  width: 100%;
  max-height: 200px;
  height: auto;
}
#blog .wrapper main div article figure figcaption {
  color: #000;
  font-style: italic;
  text-align: right;
}
#blog .wrapper main div article p {
  color: #FFF;
  margin-bottom: 15px;
  text-align: right;
}
#blog .wrapper main a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 25px;
  border-radius: 25px;
  background-color: #F48700;
  color: #FFF;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
#blog .wrapper main a:hover {
  background-color: #c16b00;
}

#create .wrapper h1 {
  text-align: center;
}
#create .wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  padding: 20px;
  background-color: #E5CF8C;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#create .wrapper form label {
  margin-top: 10px;
  font-weight: bold;
  font-family: Animal-Paw;
}
#create .wrapper form input,
#create .wrapper form select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #FFF;
  border-radius: 4px;
  font-family: AustieBost;
}
#create .wrapper form .file {
  margin-top: 10px;
}
#create .wrapper form button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #F48700;
  color: #FFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#create .wrapper form button:hover {
  background-color: #c16b00;
}

@media only screen and (min-width: 1080px) {
  header {
    text-align: right;
    background-color: #F48700;
    height: 80px;
    color: white;
    padding: 20px;
  }
  header nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
  header nav ul li {
    margin-right: 70px;
  }
  header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  header nav ul li a:hover {
    text-decoration: underline;
  }
  main {
    font-family: aloha;
  }
}/*# sourceMappingURL=styles.css.map */