@import 'colors';

@font-face {
  font-family: AustieBost;
  src: url(./AustieBostKittenKlub.ttf);
}

@font-face {
  font-family: Animal-Paw;
  src: url(./Animal-Paw.ttf);
}

header {
    text-align: center;
    grid-area: head;
    background-color: $color-primary;
    height: 100%;
    color: white;
    h1 {
      display: none;
    }
    nav {
      height: 100%;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          a {
            font-size: 30px;
            text-align: center;
            text-decoration: none;
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }