<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9e881d77-89a4-4710-a2d4-a25ed312e942/resourcegroups/MissansZooOchWebbShopApi20240315095708ResourceGroup/providers/Microsoft.Web/sites/MissansZooOchWebbShopApi20240315095735</ResourceId>
    <ResourceGroup>MissansZooOchWebbShopApi20240315095708ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/9e881d77-89a4-4710-a2d4-a25ed312e942/resourceGroups/MissansZooOchWebbShopApi20240315095708ResourceGroup/providers/Microsoft.ApiManagement/service/MissansZooOchWebbShopApiapi/apis/MissansZooOchWebbShopApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://missanszooochwebbshopapi20240315095735.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f502cf02-4c82-4720-b216-ae50f6d5f2ea</ProjectGuid>
    <MSDeployServiceURL>missanszooochwebbshopapi20240315095735.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MissansZooOchWebbShopApi20240315095735</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$MissansZooOchWebbShopApi20240315095735</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>