<div id="createproduct">
    <div class="wrapper">
        <main>
            <form action="">
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
                <label for="desc" class="labeldesc">Blogg text </label>
                <input type="text" id="desc" name="desc" class="inputdesc">
                <input type="file" id="fileinput" name="hidden" class="file" >
                <button type="submit">Skapa blogg</button>
            </form>
        </main>
    </div>
</div>
