<!-- login.component.html -->
<div class="outer">
  <div class="container">
      <div class="row">
          <div>
              <div class="panel">
                  <div class="panel-heading">
                      <h3 class="pt-3 font-weight-bold">Login</h3>
                  </div>
                  <div class="panel-body p-3">
                      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                          <div class="form-group pt-3">
                              <div class="input-field"> <span class="fa fa-user p-2"></span> <input formControlName="mail" type="text" placeholder="Username" required> </div>
                          </div>
                          <div class="form-group pt-3">
                              <div class="input-field"> <span class="fa fa-lock px-2"></span> <input formControlName="password" type="password" placeholder="Password">
                            </div>
                          </div>
                          <div class="form-inline fr mt-4"> <a id="forgot" data-bs-toggle="modal" data-bs-target="#exampleModal" class="font-weight-bold" routerLink="/forgotPassword">Forgot password?</a> </div>
                          <button type="submit" id="button" class="btn btn-block mt-4 w-100">Login</button>
                       <a id="forgot" routerLink="/createacc">Sign up</a>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>