<div id="blogpost">
  <div class="wrapper">
      <main>
        <div>


            
          <article *ngFor="let bloginfo of blogs">
              <figure>
                  <img [src]="bloginfo.img" alt={{bloginfo.title}}/>
                  <figcaption>
                    {{ bloginfo.title }}
                  </figcaption>
              </figure>

              <p>{{bloginfo.text}}</p>
              <p>{{ bloginfo.time }}</p>
          </article>
        </div>
        <div></div>
      </main>
  </div>
</div>