<div id="controller">
    <div class="wrapper">
        <main>
                    <a [routerLink]="['updateproduct']">Ändra produkt</a>
                    <a [routerLink]="['uploadproduct']">Lägg till produkt</a>
                    <a [routerLink]="['']">Ändra roller</a>
                    <a [routerLink]="['removeproduct']">Ta bort blogginlägg</a>
                    <a [routerLink]="['']">Ta bort produkt</a>
                    <a [routerLink]="['deleteuser']">Ta bort användare</a>
        </main>
    </div>
</div>

