<div id="create">
    <div class="wrapper">
        <main>
            <ul>
                <li>
                    <a [routerlink]="">Ändra produkt</a>
                </li>
                <li>
                    <a [routerlink]="">Lägg till produkt</a>
                </li>
                <li>
                    <a [routerlink]="">Ändra roller</a>
                </li>
                <li>
                    <a [routerlink]="">Ta bort blogginlägg</a>
                </li>
                <li>
                    <a [routerlink]="">Ta bort produkt</a>
                </li>
                <li>
                    <a [routerlink]="">Ta bort användare</a>
                </li>
            </ul>
        </main>
    </div>
</div>

